@import 'normalize';
@import 'config';

body,
body > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

.app-prim-button {
  padding: 9px 31px;
  background-color: $btn-bg-color;
  color: $btn-color;
  border-radius: 5px;
  font-family: 'Nunito';
  font-weight: bolder;
  cursor: pointer;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

header {
  min-height: 4em;
  margin-bottom: 2em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  padding-top: 1em;
  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
  }
}

main {
  margin-top: 6em;
}

footer {
  margin-top: 6em;
  background-color: #535353eb;
  padding: 3em;
  font-family: 'Nunito';
  color: #ffffffbd;
}
