@import 'normalize';
@import 'config';

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  color: inherit;
}

.app-prim-button {
  padding: 9px 31px;
  background-color: $btn-bg-color;
  color: $btn-color;
  border-radius: 5px;
  font-family: 'Nunito';
  font-weight: bolder;
  cursor: pointer;
}

.app-second-button {
  padding: 9px 31px;
  border-radius: 5px;
  font-family: 'Nunito';
  font-weight: bolder;
  cursor: pointer;
  background-color: #edb610;
  color: #000000ab;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

header {
  min-height: 4em;
  margin-bottom: 2em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.02);
  padding-top: 1em;
  font-family: 'Nunito';
  font-weight: bold;

  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;

    > .empty-space {
      flex: 1 0 0;
    }

    > :not(:first-child) {
      margin-left: 2em;
    }

    > a:not(.app-prim-button):hover {
      text-decoration: underline;
    }
  }

  .menu-holder {
    position: relative;

    :first-child > * {
      cursor: pointer;
    }
  }

  .avatar {
    width: 40px;
  }

  .avatar img {
    border-radius: 50%;
    width: 100%;
  }

  .menu {
    box-shadow: 0 0 5px rgba(41, 20, 20, 0.2);
    border-radius: 5px;
    position: absolute;
    right: 0;
    min-width: 193px;
    width: max-content;
    cursor: pointer;
    font-family: 'Nunito';

    div {
      background-color: $btn-bg-color;
      color: $btn-color;
      padding: 1em 1em 0 1em;
      transition: background-color 0.2s ease-out;
      padding-bottom: 0.3em;
    }

    div:hover {
      background-color: #4674c6;
    }

    .first-child {
      border-radius: 5px 5px 0 0;
    }

    .last-child {
      border-radius: 0 0 5px 5px;
    }

    .single-child {
      border-radius: 5px;
    }
  }
  .content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    svg {
      width: 15px;
      height: 15px;
      margin-left: 10px;
      font-size: 1rem;
    }
  }
}

main {
  margin-top: 6em;
}

footer {
  margin-top: 6em;
  background-color: #535353eb;
  padding: 3em;
  font-family: 'Nunito';
  color: #ffffffbd;
}

.secret {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  select,
  input {
    height: 28px;
    min-width: 320px;
    margin-left: 1em;
  }
  select {
    display: none;
  }
  select.show {
    display: block;
  }
}
