@import 'config';

header.stats {
  #upload-menu {
    display: none;
  }
}

main.stats {
  .wrapper {
    margin-bottom: 2em;
    position: relative;
  }

  .collapse {
    color: #444;
    background: rgb(54, 53, 53);
    background: linear-gradient(
      0deg,
      rgba(54, 53, 53, 0.2) 5%,
      rgba(67, 67, 67, 0.13518910982361698) 50%,
      rgba(54, 53, 53, 0.2) 95%
    );
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
  }

  .content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    font-family: 'Nunito';
  }

  svg {
    position: absolute;
    top: 13px;
    right: 22px;
    transform: rotateZ(0deg);
    transition: transform 0.2s ease-out;
    width: 32px;
    height: 37px;
    font-size: 2em;
    color: #868686;
    pointer-events: none;
  }

  svg.down {
    transform: rotateZ(90deg);
  }

  .app-prim-button {
    padding: 18px 31px;
  }
  .app-prim-button:first-of-type {
    margin-right: 1em;
  }
}

.stats.fixed {
  min-height: 4em;
  bottom: 0;

  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .app-prim-button {
    padding: 18px 31px;
  }
  .app-prim-button:first-of-type {
    margin-right: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
