@import 'config';

main.stats {
  .wrapper {
    margin-bottom: 2em;
    position: relative;
  }

  .collapse {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
  }

  .content {
    display: none;
    overflow: hidden;
    flex-direction: column;
    max-height: 0;
    padding: 1em;
    transition: max-height 0.2s ease-out;
    font-family: 'Nunito';
  }

  svg {
    position: absolute;
    top: 14px;
    right: 14px;
    transform: rotateX(0deg);
    transition: transform 0.2s ease-out;
  }

  svg.down {
    transform: rotateZ(90deg);
  }

  .app-prim-button {
    padding: 18px 31px;
  }
  .app-prim-button:first-of-type {
    margin-right: 1em;
  }
}

.stats.fixed {
  // position: fixed;
  min-height: 4em;
  bottom: 0;

  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .app-prim-button {
    padding: 18px 31px;
  }
  .app-prim-button:first-of-type {
    margin-right: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}
