@import 'config';

header.stats {
  #upload-menu {
    display: none;
  }
}

main.stats {
  .wrapper {
    margin-bottom: 2em;
    position: relative;
  }

  .collapse {
    color: #444;
    background: rgb(54, 53, 53);
    background: linear-gradient(
      0deg,
      rgba(54, 53, 53, 0.2) 5%,
      rgba(67, 67, 67, 0.13518910982361698) 50%,
      rgba(54, 53, 53, 0.2) 95%
    );
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
  }

  .content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    font-family: 'Nunito';
  }

  svg {
    position: absolute;
    top: 13px;
    right: 22px;
    transform: rotateZ(0deg);
    transition: transform 0.2s ease-out;
    width: 32px;
    height: 37px;
    font-size: 2em;
    color: #868686;
    pointer-events: none;
  }

  svg.down {
    transform: rotateZ(90deg);
  }
}

#pop {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
}

.spinner-icon {
  animation-name: rotateSpinner;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  width: 165px;
  height: 165px;
  font-size: 10em;
  color: #4466ee;
}

@keyframes rotateSpinner {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
