<header class="<%= className %> ">
  <div class="wrapper">
    <div class="secret">
      <div><span>Secret:</span><input type="text" id="secret"></div>
      <div>
        <select id="assigned-project">
          <option value="--">Select Project</option>
          <option value="test project">test project</option>
        </select>
      </div>
    </div>
  </div>
</header>