<header class="<%= className %>">
  <div class="wrapper">
    <div class="secret">
      <div><span>Secret:</span><input type="password" id="secret" value=<%=pwd %> ></div>
      <div>
        <select id="assigned-project">
          <option value="">Select Project</option>
        </select>
      </div>
    </div>
  </div>
</header>