<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preload" type="font/ttf" href="assets/fonts/Montserrat-Regular.ttf" as="font" crossorigin>
  <link rel="preload" type="font/ttf" href="assets/fonts/Nunito-Regular.ttf" as="font" crossorigin>
  <style>
    @font-face {
      font-family: 'Montseratt';
      src: url("assets/fonts/Montserrat-Regular.ttf");
    }

    @font-face {
      font-family: 'Nunito';
      src: url("assets/fonts/Nunito-Regular.ttf");
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/common.css">
  <title>403 | Website Submission System</title>
</head>

<body>

  <%- include('partials/header.ejs', {className: 'notfound' }) %>
    <main class="notfound">
      <div class="wrapper">
        You are forbidden to access the content
      </div>
    </main>
    <%- include('partials/footer.ejs' , {className: 'notfound' }) %>
</body>

</html>