<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preload" type="font/ttf" href="fonts/Montserrat-Regular.ttf" as="font" crossorigin>
  <link rel="preload" type="font/ttf" href="fonts/Nunito-Regular.ttf" as="font" crossorigin>
  <style>
    @font-face {
      font-family: 'Montseratt';
      src: url("fonts/Montserrat-Regular.ttf");
    }

    @font-face {
      font-family: 'Nunito';
      src: url("fonts/Nunito-Regular.ttf");
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <title>Project Dashboard</title>
</head>

<body>

  <%- include('partials/header.ejs' , { user: user, className: 'dashboard' }) %>
    <main class="dashboard">
      <h1 class="wrapper" style="text-align: center;">PROJECT DASHBOARD</h1>
      <div class="wrapper dashboard-content">
        <div class="project-box">
          <svg>
            <use href="#plus-icon" />
          </svg>
          <span>CLICK TO ADD PROJECT</span>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs' , {className: 'dashboard' }) %>
      <script src="js/common.js"></script>
      <script src="js/dashboard.js"></script>
</body>

</html>