<!DOCTYPE html>
<html lang="en-GB">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/images/favicon.ico" />

<title>ChinesePod | Lesson Assets Submission</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link data-n-head="ssr" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap">
<link href="/css/font-awesome-5.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/lesson-asset.css">
</head>
<body>
    <header class="cp-header">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-3 col-6">
                    <div class="cp-logo">
                        <a href="#" title="Chinesepod"><img title="Chinesepod" width="200" height="80" src="/images/chinesepod-logo.svg" align="Chinesepod Logo" /></a>
                    </div>
                </div>
                <div class="col-sm-9 col-6">
                    <nav class="cp-nav text">
                        <ul class="cp-menu">
                            <li><a class="btn btn-primary" href="/">Dashboard</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="cp-section-fwrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cp-fhead">
                        <h1>Submit Assets for a Lesson</h1>
                    </div>
                    <div class="cp-pg-container">
                        <!-- Lesson Number Form -->
                        <div class="cp-form-wrap">
                            <form class="cp-fetch-lesson" id="FetchLessonForm" name="fetchLessonForm" action="#" method="get">
                                <div class="row">
                                    <div class="col-lg-6 col-md-10 col-sm-12">
                                        <div class="form-group">
                                            <div class="row align-items-center">
                                                <div class="col-sm-4 col-12">
                                                    <label for="LessonNumber">Enter Lesson Number</label>
                                                </div>
                                                <div class="col-sm-4 col-6">
                                                    <input style="color: black;" type="text" name="lessonNumber" id="LessonNumber" placeholder="4212" class="form-control less-num-field" required="required">
                        </div>
                        <div class="col-sm-4 col-6">
                          <input type="button" name="fetchLessonFormSubmit" id="FetchLessonFormSubmit" value="Submit" class="btn-less-num-field btn btn-lg btn-primary" onclick="ValidateLessonNumberAndShowSummary(document.fetchLessonForm.lessonNumber)">
                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- end of lesson number form -->
                        <!-- Lesson result Wrap-->
                        <div class="cp-compiler-wrap">
                            <!-- Loading Lesson Result cover -->
                            <div class="cp-fth-cover">
                                <div class="row align-items-center">
                                    <div class="col-12 text-center">
                                        <div class="cp-fth">
                                            <div class="spinner-border" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <h3 class="cp-fth-title">Connecting to Server...</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end of loading lesson result cover -->
                            <!-- Compiler Result -->
                            <div class="cp-compiler-content">
                                <div class="cp-cmp-head">
                                    <h1 class="cp-cmp-head-title">Results for <span class="text-primary" id="LessonIdNumber">4212:</span></h1>
                                </div>
                                <div class="cp-cmp-body">
                                    <ul class="cmp-list">
                                    </ul>
                                </div>
                            </div> <!-- end of compiler result -->
                        </div> <!-- end of lesson result Wrap -->
                        <!-- Drag Assets -->
                        <div class="cp-drag-assets">
                            <form method="post" action="#" enctype="multipart/form-data" novalidate class="box">
                                <div class="box__input">
                                    <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="50" height="43" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z" /></svg>
                                    <input type="file" name="files[]" id="file" class="box__file" data-multiple-caption="{count} files selected" multiple />
                                    <strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.
                                </div>
                <div class="box_upload_file_list">
                    <ul id="file_list">

                    </ul>
                </div>
                <div>
                  <button type='button' class="box__button button_finish" onclick="checkFilesAfterSelect()">Finish</button>
                  <button type='button' class="box__button button_cancel" onclick="cancelUploadAndInitData()">Cancel</button>
                  <button type='button' class="box__button button_upload" onclick="uploadAssets()">Upload</button>
                </div>
                            </form>
                        </div> <!-- end of drag assets -->
                    </div> <!-- end of cp-pg-container -->
                </div>
            </div>
        </div>
    </section>

    <footer class="cp-footer">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4 col-sm-6 col-5">
                    <div class="cp-copyright">
                        <p>© 2020 ChinesePod LLC</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-7">
                    <div class="cp-footer-nav">
                        <a href="/privacy" class="footer-nav-link">Privacy</a>
                        <a href="/terms" class="footer-nav-link">Terms</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/lesson-asset.js"></script>
</body>
</html>