<tr>
  <td>
    <input type="checkbox" class="table-item" value="<%= name %>">
    <svg class="table-item-icon">
      <use href="#text-file" />
    </svg>
    <span>
      <%= name %>
    </span>
  </td>
  <td>
    <%= size %>
  </td>
  <td>css file</td>
</tr>